@import "tailwindcss";

body {
    background-image: radial-gradient(circle, white 0.1px, transparent 1px); 
    background-size: 50px 50px;
    background-color: #242424;
    font-family: "Special Gothic Expanded One", sans-serif;
    
}

.bg-dots {
    background-color: #0a0a0a;
    background-image: radial-gradient(#444 0.5px, transparent 0.5px);
    background-size: 20px 20px;
}
  
 
html {
    scroll-behavior: smooth;
  }

